<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <a href="/" class="logo">Physio Bookings</a>
        <div class="header-right">
          <a href="/">Home</a>
          <a href="/login_page">Login</a>
          <a href="/register_form">Register</a>
        </div>
    </div>
    <h1>{{ title }}</h1>
    <!-- Your content goes here -->
</body>
</html>